*/data
/data
*/tokeniser
/tokeniser
*/embeddings
/embeddings
*/logs
/logs
*/checkpoints
/checkpoints
/evaluation
*/evaluation/*
*/venv
/venv
/__pycache__
*/__pycache__/*
/dataset_procesing/__pycache__
*/dataset_procesing/__pycache__/*
/training_and_evaluation/__pycache__
*/training_and_evaluation/__pycache__/*