/data
/tokeniser
/embeddings
/logs
/checkpoints
/venv
/__pycache__
/__pycache__/*
/dataset_procesing/__pycache__
/dataset_procesing/__pycache__/*
/training_and_evaluation/__pycache__
/training_and_evaluation/__pycache__/*